<div class="container-fluid d-flex justify-content-center align-items-center vh-80">
    <div class="edit-container">
        <!-- Hidden checkbox to trigger flip -->
        <input type="checkbox" id="flip">

        <!-- The cover that will be flipped -->
        <div class="cover">

            <!-- Front side of the container -->
            <div class="front">
                <img src="./img/login2.jpg" alt="">
            </div>

            <!-- Back side of the container -->
            <div class="back">
                <img class="backImg" src="./img/login1.jpg" alt="">
            </div>
        </div>

        <!-- Login and Signup Forms -->
        <form [formGroup]="showLogin ? loginForm : signupForm" (submit)="showLogin ? submit() : signup()">
            <div class="form-content">
                <!-- Login Form -->
                <div class="login-form">
                    <div class="title">Sign in</div>
                    <div class="input-boxes">
                        <div class="input-box">
                            <i class="bi bi-envelope-at-fill"></i>
                            <input type="text" formControlName="email" placeholder="Enter Your E-mail">
                            <!-- <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
                                <small *ngIf="loginForm.get('email')?.errors?.['required']">Email is required.</small>
                                <small *ngIf="loginForm.get('email')?.errors?.['email']">Enter a valid email.</small>
                            </div> -->
                        </div>
                        <div class="input-box">
                            <i class="bi bi-key-fill"></i>
                            <input type="password" formControlName="password" placeholder="Enter Your Password">
                        </div>
                        <div class="text"><a href="#">Forgot Password?</a></div>
                        <div class="button input-box">
                            <input type="submit" value="Submit">
                        </div>
                        <div class="text sign-up-text">Don't have an account? <label (click)="toggleForm()"
                                for="flip">Create Account</label></div>
                    </div>
                </div>

                <!-- Signup Form -->
                <div class="signup-form">
                    <div class="title">Sign up</div>
                    <div class="input-boxes">
                        <div class="input-box">
                            <i class="bi bi-person-fill"></i>
                            <input type="text" formControlName="name" placeholder="Enter Your Name">
                        </div>
                        <div class="input-box">
                            <i class="bi bi-envelope-at-fill"></i>
                            <input type="text" formControlName="email" placeholder="Enter Your E-mail">
                        </div>
                        <div class="input-box">
                            <i class="bi bi-key-fill"></i>
                            <input type="password" formControlName="password" placeholder="Enter Your Password">
                        </div>
                        <div class="button input-box">
                            <input type="submit" value="Submit">
                        </div>
                        <div class="text sign-up-text">Already have an account? <label for="flip">Login Now</label>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>