<div class="container-sm-fluid edit-container" style="padding: 0;">
    <div class="hero" id="hero-arena">
        <div class="content">
            <h3>Welcome to</h3>
            <h1>Art <br> <span>Corner</span></h1>
            <p>A <strong>Responsive Portfolio</strong> Web Application</p>

            <div class="contact-section">
                <div *ngIf="!user.token; else explore">
                    <button class="btncontact" (click)="redirect()">Sign In</button>
                </div>
                <ng-template #explore>
                    <button class="btncontact" (click)="redirect()">Explore</button>
                </ng-template>
                <div class="social-icons mb-2">
                    <a href="https://github.com/Ishan1012/The-Art-Corner-Web-Application/tree/main" target="_blank"><i
                            class="bi bi-github"></i></a>
                    <a href="https://www.instagram.com/" target="_blank"><i
                            class="bi bi-instagram"></i></a>
                    <a href="https://twitter.com/?lang=en" target="_blank"><i
                            class="bi bi-twitter-x"></i></a>
                    <a href="https://www.linkedin.com/in/ishan-dwivedi-8146712b9" target="_blank"><i
                            class="bi bi-linkedin"></i></a>
                </div>
            </div>
        </div>
        <div class="hero-image" data-tilt data-perspective="1000" data-tilt-max="11">
            <img src="./img/cover-rmbg.png" class="w-100" alt="Place a image here" style="width: 430px;">
            <div class="elements">
                <!-- <img src="./svg/Picture1.png" alt="">
                <img src="./svg/Picture2.png" alt="">
                <img src="./svg/Picture3.png" alt="">
                <img src="./svg/Picture4.png" alt=""> -->
            </div>
        </div>
    </div>
</div>