<div class="container-fluid">
    <div class="container edit-container">
        <div class="img-container text-center">
            <img [src]="user.img" alt="">
        </div>
        <div class="container text-center edit-text">
            <h1>{{user.name}}</h1>
        </div>
    </div>
    <div class="container vh-100">
        <hr>
        <h1 class="mt-5 mb-5">Add Articles</h1>
        <div class="container d-flex justify-content-center align-items-center">
            <div class="card p-3 shadow-sm" style="width: 90vw; border-radius: 12px;">

                <!-- Footer with Action Buttons and Post Button -->
                <form [formGroup]="postForm" (submit)="onSubmit($event)" enctype="multipart/form-data">
                    <!-- Header with Profile Picture and Text Area -->
                    <div class="row g-4 mb-3">
                        <div class="d-flex">
                            <img [src]="user.img" alt="Profile Picture" class="rounded-circle me-2"
                                style="width: 50px; height: 50px; object-fit: cover;">
                            <h4 class="mt-1 edit-title">Title:</h4>
                            <textarea class="form-control border-0" placeholder="Enter title for this image"
                                rows="1" style="resize: none;" formControlName="title"></textarea>
                        </div>
                        <textarea class="form-control border-0" placeholder="What would you like to talk about?"
                            rows="15" style="resize: none;" formControlName="desc"></textarea>
                    </div>

                    <input type="file" class="btn btn-secondary" (change)="onFileSelected($event)" accept="image/*"
                    formControlName="img">
                    <div class="d-flex justify-content-between align-items-centern gap-5">
                        <!-- Action Buttons -->
                        <div class="d-flex gap-2">
                            <!-- <button
                                class="btn btn-light btn-sm rounded-circle d-flex align-items-center justify-content-center"
                                style="width: 50px; height: 50px;">
                                <i class="bi bi-image text-primary fs-3"></i>
                            </button>
                            <button
                                class="btn btn-light btn-sm rounded-circle d-flex align-items-center justify-content-center"
                                style="width: 50px; height: 50px;">
                                <i class="bi bi-file-earmark-text text-info fs-3"></i>
                            </button>
                            <button
                                class="btn btn-light btn-sm rounded-circle d-flex align-items-center justify-content-center"
                                style="width: 50px; height: 50px;">
                                <i class="bi bi-link-45deg text-warning fs-3"></i>
                            </button>
                            <button
                                class="btn btn-light btn-sm rounded-circle d-flex align-items-center justify-content-center"
                                style="width: 50px; height: 50px;">
                                <i class="bi bi-person-plus text-danger fs-3"></i>
                            </button> -->
                        </div>
                        <!-- Post Button -->
                        <input type="submit" value="Post" class="btn btn-primary rounded-pill px-4">
                    </div>
                </form>
            </div>
        </div>
        <div class="container edit-login text-center vh-10">
            <a (click)="logout()" class="btn btn-danger">Logout</a>
        </div>
    </div>
</div>