.edit-container {
    padding-top: 50px;
    min-height: 50vh;
}

.img-container img {
    width: 30vh;
    aspect-ratio: 1/1;
    border: 10px solid #333;
    border-radius: 50%;
}

.edit-text {
    padding-top: 20px;
    font-size: 2em;
}

.card {
    border: 1px solid #8777;
}

textarea:focus {
    box-shadow: none;
    border-color: transparent;
}

input[type="file"] {
    display: block;
    margin-bottom: 10px;
}

.card form button {
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

.card form button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.edit-login{
    padding-top: 30px;
    padding-bottom: 30px;
}

.edit-title{
    padding-left: 15px;
    padding-right: 3px;
    color: #333;
}