<div>
  <nav class="navbar fixed-top bg-color navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" routerLink="/index"><img src="./icon/logo-navbar2.png" alt=""
          class="img-navbar-edit"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item me-2">
            <a class="nav-link btn btn-outline-warning" aria-current="page" routerLink="/index" href="#"
              routerLinkActive="active">Home</a>
          </li>
          <li class="nav-item me-2">
            <a class="nav-link btn btn-outline-warning" aria-current="page" routerLink="/explore" href="#"
              routerLinkActive="active">Explore</a>
          </li>
          <li class="nav-item me-2">
            <a class="nav-link btn btn-outline-warning" aria-current="page" routerLink="/bookmarks" href="#"
              routerLinkActive="active">Bookmarks</a>
          </li>
          <li class="nav-item me-2">
            <a class="nav-link btn btn-outline-warning" aria-current="page" routerLink="/community" href="#"
              routerLinkActive="active">Community</a>
          </li>
          <li class="nav-item me-2">
            <a class="nav-link btn btn-outline-warning" aria-current="page" routerLink="/about" href="#"
              routerLinkActive="active">About</a>
          </li>
        </ul>
        <form class="d-flex" role="search" (submit)="GetResults(search.value)">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" #search>
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <div class="navbar-brand edit-profile">
          <div *ngIf="!user.token; else profileImage">
            <a routerLink="/login"><i class="bi bi-person-circle fs-3 text-secondary"></i></a>
          </div>
          <ng-template #profileImage>
            <div class="dropdown profile-dropdown">
              <a type="button" aria-expanded="false">
                <img [src]="user.img" alt="" class="edit-profile-img">
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" routerLink="/profile">Profile</a></li>
                <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
              </ul>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </nav>
  <nav class="navbar bg-color navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="./icon/logo-navbar2.png" alt="" class="img-navbar-edit"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
      </div>
    </div>
  </nav>
  <div class="container-fluid" style="padding: 0;">
    <router-outlet></router-outlet>
  </div>
</div>