<div class="container-fluid mb-3">
    <div class="container py-5">
        <div class="text-center">
            <img [src]="'/The-Art-Corner-Web-Application'+user.img" class="img-fluid rounded-circle border border-dark" style="width: 30vh;" alt="">
        </div>
        <div class="text-center mt-3">
            <h1 class="fs-2">{{user.name}}</h1>
        </div>
    </div>
    <hr>
    <!-- CONTENT -->
    <section id="content">
        <!-- MAIN -->
        <main>
            <div class="d-flex justify-content-between align-items-center flex-wrap">
                <div>
                    <h1 class="fs-3 fw-bold text-dark">Dashboard</h1>
                </div>
            </div>

            <div class="d-flex flex-wrap gap-3 mt-3">
                <!-- User Status Table -->
                <div class="flex-grow-1" style="min-width: 500px;">
                    <div class="bg-light rounded p-4">
                        <div class="d-flex justify-content-between align-items-center mb-4">
                            <h3 class="fs-4 fw-bold">User Status</h3>
                            <div>
                                <a href="#"><i class='bi bi-search fs-5'></i></a>
                                <a href="#"><i class='bi bi-filter fs-3'></i></a>
                            </div>
                        </div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>User</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of userList; trackBy: trackByFn">
                                    <td class="d-flex align-items-center gap-2">
                                        <img [src]="'/The-Art-Corner-Web-Application'+item.img" class="rounded-circle" style="width: 36px; height: 36px;">
                                        <p class="mb-0">{{item.name}}</p>
                                    </td>
                                    <td>
                                        <span class="badge bg-primary">Active</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- Todo List -->
                <div class="flex-grow-1" style="min-width: 300px;">
                    <div class="bg-light rounded p-4">
                        <div class="d-flex justify-content-between align-items-center mb-4">
                            <h3 class="fs-4 fw-bold">Newsletters</h3>
                            <div>
                                <a href="#"><i class='bi bi-plus fs-3'></i></a>
                                <a href="#"><i class='bi bi-filter fs-3'></i></a>
                            </div>
                        </div>
                        <ul class="list-unstyled">
                            <li class="d-flex justify-content-between align-items-center p-3 mb-3 bg-light border-start border-primary rounded">
                                <p class="mb-0">Newsletter title 1</p>
                                <i class='bi bi-three-dots-vertical'></i>
                            </li>
                            <li class="d-flex justify-content-between align-items-center p-3 mb-3 bg-light border-start border-primary rounded">
                                <p class="mb-0">Newsletter title 2</p>
                                <i class='bi bi-three-dots-vertical'></i>
                            </li>
                            <li class="d-flex justify-content-between align-items-center p-3 mb-3 bg-light border-start border-warning rounded">
                                <p class="mb-0">Newsletter title 3</p>
                                <i class='bi bi-three-dots-vertical'></i>
                            </li>
                            <li class="d-flex justify-content-between align-items-center p-3 mb-3 bg-light border-start border-primary rounded">
                                <p class="mb-0">Newsletter title 4</p>
                                <i class='bi bi-three-dots-vertical'></i>
                            </li>
                            <li class="d-flex justify-content-between align-items-center p-3 mb-3 bg-light border-start border-warning rounded">
                                <p class="mb-0">Newsletter title 5</p>
                                <i class='bi bi-three-dots-vertical'></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </main>
    </section>
</div>
