.edit-btn{
    display: flex;
    justify-content: space-between;
}

.card-body img{
    width: 4rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.edit-card{
    border-radius: 20px;
}

.edit-card-text {
    text-justify: newspaper;
}